[submodule "Generator/Dependencies/SourceKitten"]
	path = Generator/Dependencies/SourceKitten
	url = https://github.com/jpsim/SourceKitten
[submodule "Generator/Dependencies/FileKit"]
	path = Generator/Dependencies/FileKit
	url = https://github.com/nvzqz/FileKit
[submodule "Dependencies/GRDB"]
	path = Dependencies/GRDB
	url = git@github.com:groue/GRDB.swift.git
